{% extends 'SCalendar/base.html' %}
{% load static %}
{% block title %}Personal Calendar{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'SCalendar/calendar.css' %}">


    <div class="datepicker-container">
        <div class="datepicker-header">
            <h2 id="monthYear"></h2>
            <button id="prevMonth">Previous</button>
            <button id="nextMonth">Next</button>
            <button id="today">Today</button>
            <button id="prevYear">Previous Year</button>
            <button id="nextYear">Next Year</button>
        </div>

        <table class="calendar">
            <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody id="calendarBody">
                <!-- Calendar days will be inserted here with JavaScript -->
            </tbody>
        </table>
    </div>

    <div class="Group-list">
        <table class="group-list">
            <thead>
                <tr>
                    <th>Group List</th>
                </tr>
            </thead>
            <tbody>
            <!-- complete once groups are implemented -->
            </tbody>
        </table>
    </div>
    <div id="calendar"></div>

    {{  events|json_script:"events-data" }}

    <script src="{% static 'SCalendar/datepicker.js' %}"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>
    <script src="{% static 'SCalendar/calendar.js' %}"></script>

<dialog id="event-popup">
    <h2 id="event-name">*event name*</h2>
    <p id="event-details">*event details*</p>

    <button id="exit">Close</button>
    <button id="edit-event">Edit</button>
    <button id="delete-event">Delete</button>
</dialog>

{% endblock %}
