{% extends 'SCalendar/base.html' %}
{% load static %}
{% block title %}Personal Calendar{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'SCalendar/calendar.css' %}">


    <div class="datepicker-container">
        <div class="datepicker-header">
            <h2 id="monthYear"></h2>
            <button id="prevMonth">Previous</button>
            <button id="nextMonth">Next</button>
            <button id="today">Today</button>
            <button id="prevYear">Previous Year</button>
            <button id="nextYear">Next Year</button>
        </div>

        <table class="calendar">
            <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody id="calendarBody">
                <!-- Calendar days will be inserted here with JavaScript -->
            </tbody>
        </table>
    </div>
    <div class="Calendar-containter">
        <div class = "Calendar-header">
            <h1 id="currentDay"> a </h1>
            <button id="prevDay">Previous Day</button>
            <button id="nextDay">Next Day</button>

        </div>
        <div class="Calendar-body">
            <div class="times">
                <p>12:00 AM</p>
                <p>1:00 AM</p>
                <p>2:00 AM</p>
                <p>3:00 AM</p>
                <p>4:00 AM</p>
                <p>5:00 AM</p>
                <p>6:00 AM</p>
                <p>7:00 AM</p>
                <p>8:00 AM</p>
                <p>9:00 AM</p>
                <p>10:00 AM</p>
                <p>11:00 AM</p>
                <p>12:00 PM</p>
                <p>1:00 PM</p>
                <p>2:00 PM</p>
                <p>3:00 PM</p>
                <p>4:00 PM</p>
                <p>5:00 PM</p>
                <p>6:00 PM</p>
                <p>7:00 PM</p>
                <p>8:00 PM</p>
                <p>9:00 PM</p>
                <p>10:00 PM</p>
                <p>11:00 PM</p>
            </div>
            <table class="calendar">
                <tbody id="calendarBody">
                </tbody>
            </table>
        </div>
    </div>
    <div class="Group-list">
        <table class="group-list">
            <thead>
                <tr>
                    <th>Group List</th>
                </tr>
            </thead>
            <tbody>
            <!-- complete once groups are implemented -->
            </tbody>
        </table>
    </div>

    <script src="{% static 'SCalendar/datepicker.js' %}"></script>
    <script src="{% static 'SCalendar/calendar.js' %}"></script>
{% endblock %}
